{% extends "base.html" %}

{% load django_bootstrap5 %}

{% load account_tags static %}
{% load i18n %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block base %}

<section class="main_container">
    <div class="container">
        <div class="row mar_lr_0">
            <div class="col-md-12 left_container">
                <div class="row mar_lr_0 skills_locations">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <div class="row d-flex justify-content-center align-items-center image_row infinite-container grid" data-masonry='{ "itemSelector": ".grid-item"}'>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p> <a class="btn btn-primary" href="{% url 'ads:ad_create' %}"> + Add A New ad</a></p>
                                        <table>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Title</th>
                                                <th>City</th>
                                                <th>Action<th>
                                              </tr>
                                        {% for ad in ads %}
                                            <tr>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ ad.title }}</td>
                                              <td>{{ ad.city }}</td>
                                              <td><a href="{% url 'ads:ad_update' ad.id %}">Update</a> |
                                                <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}