{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block block_canonical %}
<link rel="canonical" href="https://Bubbas.com{{ request.path }}"/>
{% endblock %}
{% block block_title %}
 {% include "meta_data/detail.html" %}
{% endblock %}
{% block base %}
<!-- main_container starts here -->
<div class="row mar_lr_0 main_container">
  <div class="container">
    <!-- breadcrumb_section starts here -->
    <div class="breadcrumb_section row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb triangle">
          <li>
            <a href="/" class="name">
              <span class="name" >Home</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span class="name">{{ post.city }} Profiles</span>
            </a>
          </li>
          <li class="current">
            <a href="/">
              <span class="name">Profiles in {{ post.locality }}</span>
            </a>
          </li>
        </ol>
      </nav>
    </div>
    <!-- breadcrumb_section ends here -->
    <div class="row mar_lr_0">
      <div class="col-md-9 left_container">
        <!-- side_filter_section starts here -->
        <div class="row">
          <!-- job_list_section starts here -->
          <div class="col-md-12">
            <div class="job_detail_section">
              <!-- job_item starts here -->

              {% include 'detail.html' %}
              <!-- job_item ends here -->
              <!-- similar_jobs starts here -->
              
              <!-- similar_jobs ends here -->

          <!-- Similar Links ends -->

            </div>
          </div>
          <!-- job_list_section ends here -->
          </div>
          <!-- job_list_section ends here -->
        </div>
      </div>
      <!-- Left menu starts here-->
<!-- walkin_jobs starts here -->
<div class="col-md-3 right_container">
  <!-- upload_btn_block starts here -->
  <div class="similar_job_posts" style="margin-bottom:10px;">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBubbas%2F&width=300&height=150&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=892560280818752" width="300" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  <!--register_login form ends here -->
  <div class="top_recruiters">
    <div class="heading text-uppercase">Similar Profiles</div>
    <ul class="recruiter_blocks">
      <li class="recruiter_block" id="/ibm-india-pvt-limited-job-openings/">
        <div class="img_part">
          <img src="{% thumbnail 'https://cdn.Bubbas.com/companies1/ibm.png' "70x70" %}" alt="IBM-India-pvt-limited"/>
        </div>
        <div class="content">
          <strong class="title"><a>Rashmi</a></strong>
          <p class="redirect"><a>View Profile</a></p>
        </div>
      </li>
      <a href=" 'companies' %}" target="_blank"><span class="view_all">See More</span></a>
    </ul>
  </div>

</div>
      <!-- Left menu ends here-->
    </div>
  </div>
</div>
<!-- main_container ends here -->
{% endblock %}
