{% extends "base.html" %}
{% load thumbnail %}
{% load pictures validator %}
{% load static %}
{% block block_canonical %}
<link rel="canonical" href="https://bubbas.in{{ request.path }}"/>
{% endblock %}
{% block block_title %}
 {% include "meta_data/detail.html" %}
{% endblock %}
{% block base %}
<style>
  .breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;
  }
  
  .breadcrumbs__item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
  }
  
  .breadcrumbs__item:hover:after,
  .breadcrumbs__item:hover {
    background: #edf1f5;
  }
  
  .breadcrumbs__item:focus:after,
  .breadcrumbs__item:focus,
  .breadcrumbs__item.is-active:focus {
    background: #323f4a;
    color: #fff;
  }
  
  .breadcrumbs__item:after,
  .breadcrumbs__item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
  }
  
  .breadcrumbs__item:before {
    background: #cbd2d9;
    margin-left: 1px;
  }
  
  .breadcrumbs__item:last-child {
    border-right: none;
  }
  
  .breadcrumbs__item.is-active {
    background: #edf1f5;
  }
</style>
<!-- main_container starts here -->
<div class="row mar_lr_0 main_container">
  <div class="container">
    <!-- breadcrumb_section starts here -->
    <div class="breadcrumb_section row">
      
<nav class="breadcrumbs">
  <a href="#home" class="breadcrumbs__item">Home</a>
  <a href="#shop" class="breadcrumbs__item">Shop</a> 
  <a href="#cart" class="breadcrumbs__item">Cart</a>
  <a href="#checkout" class="breadcrumbs__item is-active">Checkout</a> 
</nav>

      <ul class="breadcrumb col-md-11">
        <li>
          <a href="/" class="name">
            <span class="name" >Home </span>
          </a>
        </li>
        <li>
          <a href="/call-girls/{{post.city.slug}}">
            <span class="name"> {{ post.city }} Call Girls</span>
          </a>
        </li>
        <li class="current">
          <a href="#">
            <span class="name"> {{ post.title }}</span>
          </a>
        </li>
      </ul>
      <button class="btn btn-warning col-md-1" style="float: right;
      height: fit-content;" onclick="history.back()">Go Back</button>
    </div>
    <!-- breadcrumb_section ends here -->
    <div class="row mar_lr_0">
    
      <div class="col-md-3 left_container">
        <!-- upload_btn_block starts here -->
        <div class="similar_job_posts" style="margin-bottom:10px;">
          {% if post.thumbnail.url|validate %}
              {% picture post.thumbnail img_alt="Bubbas - "|add:post.title img_loading="lazy" picture_class="my-picture" m=8 l=4 %}
          {% else %}
              <img style="width: -webkit-fill-available;
              height: auto;" src="{% static 'logos.png' %}" alt="profile picture">
          {% endif %}
          
          {% for x in post.categories.all %}
              <button style="margin-top: 1%;" class='btn btn-danger mb-1'>{{ x.title }}</button >
            {% endfor %}
            {% if post.phone %}
            <div class="row">
              <div style="margin-top: 1rem;" class="col-sm-6 padding-1-right">
                <a style="color: #000;
                z-index: 2;
                background-color: #7ac0c7;
                font-size: 16px;
                overflow: hidden;
                height: 40px;
                line-height: 4px;" class="btn col-xs-12 call-sponsored-escort-btn" href="tel:{{post.phone}}" target="_blank" rel="nofollow" data-phone="07933761867" data-escort="OTvRwFxuAk2qbRw4">
                    <img style="height: 24px;
                    display: inline-block;
                    vertical-align: middle;" src="{% static 'call-icon.png' %}"> <span>Call Me</span>
                </a>
            </div>
            {% endif %}
            {% if post.whatsapp %}
            <div style="margin-top: 1rem;" class="col-sm-6 no-padding-right">
                <a style="background-color: #35b548;
                color: #fff;
                font-size: 16px;
                line-height: 4px;
                z-index: 2;
                height: 40px;" class="btn col-xs-12 whatsapp-sponsored-escort-btn" href="https://wa.me/{{ post.whatsapp }}" target="_blank" rel="nofollow" data-phone="07933761867" data-escort="OTvRwFxuAk2qbRw4">
                    <img style="height: 24px;
                    display: inline-block;
                    vertical-align: middle;" src="{% static 'whatsapp.svg' %}">
                    <span>WhatsApp</span>
                </a>
            </div>
            {% endif %}
          </div>
        </div>
      
      </div>
      
      <div class="col-md-9 right_container">
        <!-- side_filter_section starts here -->
        <div class="row">
          <!-- job_list_section starts here -->
          <div class="col-md-12">
            <div class="job_detail_section">
              <!-- job_item starts here -->

              {% include 'detail.html' %}
              <!-- job_item ends here -->
              
              <!-- similar_jobs starts here -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                  <p style="padding-left: 15px;" class="head text-uppercase">Recommended Profiles</p>
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="item ">
                      <div class="row d-flex justify-content-center align-items-center image_row">
                        
                        {% for postr in posts %}
                        {% widthratio postr.id 1 28474567 as c %}
                            <div class="col-md-3 col-sm-3 col-xs-3 image_col" style="height: auto !important; border-radius:5px; margin-top: 25px; padding: 0;">
                              <div class="job_col redirect_job_click">
                                <a href="/call-girls/{{ postr.city.slug }}/{{ postr.slug }}/{{c}}/" class='company_logo'>
                                  {% if postr.thumbnail.url|validate %}
                                    {% picture postr.thumbnail img_alt="Bubbas - "|add:postr.title img_loading="lazy" picture_class="my-picture" m=8 l=4 %}
                                  {% else %}
                                      <img style="width: -webkit-fill-available;
                                      height: auto;" src="{% static 'logos.png' %}" alt="profile picture">
                                  {% endif %}
                                  </a>
                                  <a href="/call-girls/{{ post.city.slug }}/{{ post.slug }}/{{ c }}/" class='company_logo'>
                                    <div style="padding: 12px;" class="result-data">
                                        <div class="result-data-description">
                                            <div class="result-header">
                                                  <div class="result-title">
                                                      <br>
                                                      <h2 style="
                                                      font-size: 1rem;
                                                      font-family: cursive;
                                                      font-weight: 600;
                                                      ">{{ post.title|truncatechars:50 }}<h2>
                                                  </div>
                                                  <div class="result-subtitle">{{ post.overview }}</div>
                                              </div>
                                              <div class="result-location">
                                                  {% for x in post.categories.all %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                                      <strong>{{ x }}</strong>
                                                  {% endfor %}
                                              </div>
                                              <div class="result-phone">
                                                  <a aria-label="Chat on WhatsApp" href="https://wa.me/{{post.whatsapp}}"> 
                                                      <img alt="Chat with on WhatsApp" style="width: 120px;" src="{% static 'what.png' %}" />
                                                  </a>
                                              </div>
                                              <div class="result-content">
                                                  <div class="result-content-header result-content-uk">
                                                  </div>
                                              </div>
                                        </div>
                                    </div>
                                  </a>
                              </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 %}
                              </div>
                              <div class="row">
                            {% endif %}
                        {% endfor %}
                      </div>
                      <!--/item-->
                    </div>
                    <!--/carousel-inner-->
                  </div>
                  <!--/myCarousel-->
                </div>
              </div>
              <!-- similar_jobs ends here -->

            </div>
          </div>
          <!-- job_list_section ends here -->
          </div>
          <!-- job_list_section ends here -->
        </div>
      </div>
      <!-- Left menu starts here-->
<!-- walkin_jobs starts here -->
      <!-- Left menu ends here-->
    </div>
  </div>
</div>
<!-- main_container ends here -->
{% endblock %}