{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load static %}
{% load cache %}
{% block block_canonical_tag %}
<link rel="canonical" href="https://Bubbas.com{{ request.path }}"/>
{% endblock %}
{% block meta_tags %}
<meta name="google-site-verification" content="YRAH49iQBxqqgGD-ogtwLY3t39VcM_7NrhX0hyzirPY" />
<meta name="msvalidate.01" content="7748852145A5ECD3CF9FD6D8EAA04EDE" />
{% endblock %}
{% block base %}
<section class="main_container">
    <div class="container">
        <div class="row mar_lr_0">
            <div class="col-md-12 left_container">
                <!-- register_block starts here -->
                <div class="row mar_lr_0 register_block">
                    <div class="col-md-12 register_point border redirect_link" data-href=" 'my:alerts_list'%}">
                        <div class="text-center register_col">
                            <h1>{{ meta_title }}</h1>
                        </div>
                    </div>
                </div>
                <!-- register_block ends here -->
                <!-- skills_companies starts here -->
                <div class="row mar_lr_0 skills_locations">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <div class="row d-flex justify-content-center align-items-center image_row">
                                {% for post in posts %}
                                {% widthratio post.id 1 28474567 as c %}
                                <div class="col-md-2 col-sm-3 col-xs-3 image_col"  style="height: 435px; border-radius:5px; margin: 2px; background-color: beige; float: left; opacity: 1; padding: 0; left: 31.1667%; top: 0px;">
                                <a href="/call-girls/{{ post.city.slug }}/{{ post.slug }}/{{ c }}/" class='company_logo'>
                                    <img style="width: -webkit-fill-available; height: 150px;" src="{{ post.thumbnail.url }}" alt=""/>
                                </a>
                                    <div class="result-data">
                                        <div class="result-data-description">
                                            <div class="result-header">
                                                <div class="result-title">
                                                    <br>
                                                    <h2 style="font-size: 1rem">{{ post.title|truncatechars:50 }}<h2>
                                                </div>
                                                <div class="result-subtitle">{{ post.overview|truncatechars:40 }}</div>
                                            </div>
                                            <div class="result-location">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                {{ post.content|safe|truncatechars:40 }}
                                            </div>
                                            <div class="result-phone">
                                                <a aria-label="Chat on WhatsApp" href="https://wa.me/{{post.whatsapp}}"> 
                                                    <img alt="Chat with on WhatsApp" style="width: 120px;" src="{% static 'what.png' %}" />
                                                </a>
                                            </div>
                                            <div class="result-content">
                                                <div class="result-content-header result-content-uk">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="result-content">
                                <div class="result-content-header result-content-uk">
                                    <br><br><br>
                                    {{ city.page_content|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- skills_companies ends here -->
                <!-- top_locations edns here -->
            </div>
        </div>
    </div>
</section>
<!-- help_options_row ends here -->
{% endblock base %}