{% extends "base.html" %}
{% load static %}
{% load thumbnail compress %}
{% load pictures validator %}
{% load static %}
{% load cache %}
{% block block_canonical_tag %}
<link rel="canonical" href="https://bubbas.in{{ request.path }}"/>
{% endblock %}
{% block meta_tags %}
{% endblock %}
{% block base %}
<section class="main_container">
    <div class="container">
        <div class="row mar_lr_0">
            <div class="col-md-12 left_container">
                <!-- register_block starts here -->
                <div class="row mar_lr_0 register_block">
                    <div class="col-md-12 register_point border redirect_link" data-href=" 'my:alerts_list'%}">
                        <div class="text-center register_col">
                            <h1>{{ meta_title }}</h1>
                        </div>
                    </div>
                </div>
                <!-- register_block ends here -->
                <!-- skills_companies starts here -->
                <div class="row mar_lr_0 skills_locations">
                    
            {% if city.phone %}
            <div style="margin-top: 1rem;" class="text-center col-sm-2 padding-1-right">
                <a aria-label="Bubbas profile" style="color: #000;
                z-index: 2;
                background-color: #7ac0c7;
                font-size: 16px;
                overflow: hidden;
                height: 40px;
                line-height: 4px;" class="btn col-xs-12 call-sponsored-escort-btn" href="tel:{{post.phone}}" target="_blank" rel="nofollow" data-phone="07933761867" data-escort="OTvRwFxuAk2qbRw4">
                    <img style="height: 24px;
                    display: inline-block;
                    vertical-align: middle;" alt="call image" src="{% static 'call-icon.png' %}"> <span>Call Now</span>
                </a>
            </div>
            {% endif %}
            {% if city.whatsapp %}
            <div style="margin-top: 1rem;" class="text-center col-sm-2 no-padding-right">
                <a aria-label="Bubbas profile" style="background-color: #35b548;
                color: #fff;
                font-size: 16px;
                line-height: 4px;
                z-index: 2;
                height: 40px;" class="btn col-xs-12 whatsapp-sponsored-escort-btn" href="https://wa.me/{{ post.whatsapp }}" target="_blank" rel="nofollow" data-phone="07933761867" data-escort="OTvRwFxuAk2qbRw4">
                    <img style="height: 24px;
                    display: inline-block;
                    vertical-align: middle;" alt="whatsapp" src="{% static 'whatsapp.svg' %}">
                    <span>WhatsApp</span>
                </a>
            </div>
            {% endif %}
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <div class="row d-flex justify-content-center align-items-center image_row infinite-container grid" data-masonry='{ "itemSelector": ".grid-item"}'>
                                {% for post in posts %}
                                {% widthratio post.id 1 28474567 as c %}
                                {% if not post.sponsored %}
                                <div class="col-md-2 col-sm-3 col-xs-3 image_col infinite-item grid-item"  style="height: auto !important; position: relative; border-radius:5px; margin-top: 25px; margin-left: 2%; background-color: beige; opacity: 1; padding: 0;">
                                    {% if 'escorts' in request.path %}
                                    <a aria-label="Bubbas profile" href="/escorts/{{ post.city.slug }}/{{ post.slug }}/{{ c }}/" class='company_logo'>
                                    {% else %}
                                    <a aria-label="Bubbas profile" href="/call-girls/{{ post.city.slug }}/{{ post.slug }}/{{ c }}/" class='company_logo'>
                                    {% endif %}
                                    
                                        {% if post.thumbnail.url|validate %}
                                            {% picture post.thumbnail img_alt=post.slug img_loading="lazy" picture_class="my-picture" m=8 l=4 %}
                                        {% else %}
                                            <img src="{% static 'logos.png' %}" alt="profile picture">
                                        {% endif %}
                                    </a>
                                    {% if 'escorts' in request.path %}
                                    <a aria-label="Bubbas profile" href="/escorts/{{ post.city.slug }}/{{ post.slug }}/{{ c }}/" class='company_logo'>
                                    {% else %}
                                    <a aria-label="Bubbas profile" href="/call-girls/{{ post.city.slug }}/{{ post.slug }}/{{ c }}/" class='company_logo'>
                                    {% endif %}
                                    <div style="padding: 12px;" class="result-data">
                                        <div class="result-data-description">
                                            <div class="result-header">
                                                <div class="result-title">
                                                    <br>
                                                    <h2 style="
                                                    font-size: 1.5rem;
                                                    font-family: cursive;
                                                    font-weight: 600;
                                                    ">{{ post.title|truncatechars:50 }}<h2>
                                                </div>
                                                <div class="result-subtitle">{{ post.overview }}</div>
                                            </div>
                                            <div class="result-location">
                                                {% for x in post.categories.all %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                                    <strong>{{ x }}</strong>
                                                {% endfor %}
                                            </div>
                                            <div class="result-phone">
                                                <a aria-label="Bubbas profile" aria-label="Chat on WhatsApp" href="https://wa.me/{{post.whatsapp}}"> 
                                                    <img alt="Chat with on WhatsApp" width=120 height="auto" src="{% static 'what.png' %}" />
                                                </a>
                                            </div>
                                            <div class="result-content">
                                                <div class="result-content-header result-content-uk">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="col-md-2 col-sm-3 col-xs-3 image_col infinite-item grid-item"  style="height: auto !important; position: relative; border-radius:5px; margin-top: 25px; margin-left: 2%; background-color: lightcyan; opacity: 1; padding: 0;">
                                    <p style="
                                        font-size: xx-small;
                                        font-weight: 600;
                                        text-align: left;
                                    ">*Sponsored</p>
                                    {{ post.content|safe }}
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                            <div class="result-content">
                                <div class="result-content-header result-content-uk">
                                    <br><br><br>
                                    {% if 'escorts' in request.path %}
                                        {{ city.escorts_page_content|safe }}
                                    {% else %}
                                        {{ city.call_girls_page_content|safe }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- skills_companies ends here -->
                
                {% if posts.has_next %}
                    <a aria-label="Bubbas profile" class="infinite-more-link" aria-label="go to {{ city.name }} city page no. {{posts.next_page_number}}" href="?page={{ posts.next_page_number }}"></a>
                {% endif %}
                <!-- top_locations edns here -->
            </div>
        </div>
    </div>
</section>
<!-- help_options_row ends here -->


{% compress js %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script src="{% static 'js/masonry.min.js' %}"></script>
{% endcompress %}
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        console.log('loading!')
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        console.log('loaded')
        $('.loading').hide();
        var elem = document.querySelector('.grid');
        var msnry = new Masonry( elem, {
        // options
        itemSelector: '.grid-item'
        });

        // element argument can be a selector string
        //   for an individual element
        var msnry = new Masonry( '.grid', {
        // options
        });
      }
    });
  </script>
{% endblock base %}