{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load static %}
{% load cache %}

    {% block block_canonical_tag %}
      <link rel="canonical" href="https://bubbas.com{{ request.path }}"/>
    {% endblock %}

{% block meta_tags %}
<meta name="google-site-verification" content="hiHjP-VM8BHLpDGIKleEdX4J2rfoA3RIPcyU1OlKcyo" />
<meta name="msvalidate.01" content="7748852145A5ECD3CF9FD6D8EAA04EDE" />
{% endblock %}
{% block base %}
<!-- main_container starts here -->
  <section class="main_container">
    <div class="container">
      <div class="row mar_lr_0">
        <div class="col-md-12 left_container">
          <h1> {{ meta_title|safe }} </h1>
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase"><strong>Top Call Girls Cities</strong></div>
            <div class="locations">
              {% for city in cities %}
                <ul class="location_ul">
                      <li><a aria-label="go to {{ city.name }} city page" href="/call-girls/{{ city.slug }}"><strong>{{ city.name }} ({{ city.get_no_of_cg_ads }})</strong></a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase"><strong>Top Escorts Locations</strong></div>
            <div class="locations">
              {% for city in cities %}
                <ul class="location_ul">
                      <li><a aria-label="go to {{ city.name }} city page" href="/escorts/{{ city.slug }}"><strong>{{ city.name }} ({{ city.get_no_of_es_ads }})</strong></a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase"></div>
            <div class="locations">
              {{ page_content|safe }}
            </div>
          </div>
        </div>
        <div class="col-md-3 right_container">

          <!--register_login form starts here -->
          <!-- top_recruiters ends here -->
        </div>
      </div>
    </div>
  </section>
  <!-- main_container ends here -->
  <!-- help_options_row starts here -->
<!-- help_options_row ends here -->
{% endblock base %}
