{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load static %}
{% load cache %}

    {% block block_canonical_tag %}
      <link rel="canonical" href="https://Bubbas.com{{ request.path }}"/>
    {% endblock %}

{% block meta_tags %}
<meta name="google-site-verification" content="YRAH49iQBxqqgGD-ogtwLY3t39VcM_7NrhX0hyzirPY" />
<meta name="msvalidate.01" content="7748852145A5ECD3CF9FD6D8EAA04EDE" />
{% endblock %}
{% block search_block %}
<section class="inner_search_section" id='search_div'>
  <div class="container">
      <div class="row">
          <form autocomplete="off" name="job-search-form" class="autocomplete-me search-form" id="elastic-search" method="POST">
              <div class="search_div_form" style="margin-top: 78px;">
                  <div class="form_element">
                      <select class="form-select" name="job_type" id="job_type">
                          <option value="">Select A City</option>
                          {% for city in cities %}
                          <option value="{{ city.id }}">{{ city.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form_element">
                      <input type="text" class="form-control" id="q" name="q" placeholder="Profile Names" value="{% for text in searched_text %}{{ text }}, {% empty %}{% for skill in searched_skills %}{{ skill }}, {% endfor %}{% for edu in searched_edu %}{{ edu }}, {% endfor %}{% endfor %}">
                  </div>
                  <div class="form_element">
                      <input type="text" class="form-control" id="location" name="location" placeholder="Enter Any Locations, States" value="{% for loc in searched_locations %}{{ loc }}, {% endfor %}{% for state in searched_states %}{{ state }}, {% endfor %}">
                  </div>
                  <div class="search_form_element">
                      <button type="submit" class="btn">Search</button>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </form>
      </div>
  </div>
</section>
{% endblock %}
{% block base %}
<!-- main_container starts here -->
  <section class="main_container">
    <div class="container">
      <div class="row mar_lr_0">
        <div class="col-md-12 left_container">
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase">Top Call Girls Cities</div>
            <div class="locations">
              {% for city in cities %}
                <ul class="location_ul">
                      <li><a href="/call-girls/{{ city.name }}">{{ city.name }}</a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase">Top Escorts Locations</div>
            <div class="locations">
              {% for city in cities %}
                <ul class="location_ul">
                      <li><a href="/escorts/{{ city.name }}">{{ city.name }}</a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          {% comment %} {% endcache %} {% endcomment %}
        </div>
        <div class="col-md-3 right_container">

          <!--register_login form starts here -->
          <!-- top_recruiters ends here -->
        </div>
      </div>
    </div>
  </section>
  <!-- main_container ends here -->
  <!-- help_options_row starts here -->
<!-- help_options_row ends here -->
{% endblock base %}
