{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load static %}
{% load cache %}

    {% block block_canonical_tag %}
      <link rel="canonical" href="https://Bubbas.com{{ request.path }}"/>
    {% endblock %}

{% block meta_tags %}
<meta name="google-site-verification" content="YRAH49iQBxqqgGD-ogtwLY3t39VcM_7NrhX0hyzirPY" />
<meta name="msvalidate.01" content="7748852145A5ECD3CF9FD6D8EAA04EDE" />
{% endblock %}
{% block search_block %}
<section>
  <div class="container search_login_row">
      <div class="row mar_lr_0 search_login_blocks">
        <div class="search_block col-md-8 col-sm-12">
          <p class="message">You will find the best
            Call Girls India in
            Bubbas<br> It’s time to live your life fully</p>
          <div class="tabs_block">
            <ul class="tabs">
              <li><button class="job_type active_button" id="full-time">Escorts</button></li>
              <li><button class='job_type' id="internship">Verified Call Girls</button></li>
              <li><button class='job_type' id="walk-in">Verified Escorts</button></li>
              <li><button class='job_type' id="Fresher">Call Girls Online</button></li>
              <li><button class='job_type' id="Fresher">Chat Girls</button></li>
            </ul>
            <div class="search_location_other_block">
              <div class="job-location_other">
                <form class="form-inline autocomplete-me search-form" name="search-form" id="search-form" method="POST">
                  <div class="input-group">
                    
                      <label class="sr-only"></label>
                      <select class="form-select form-control_opt" name="location" id="job_location ">
                        <option value="">Location</option>
                        {% for city in cities %}
                          <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                      </select>
                    
                    
                      <label class="sr-only"></label>
                      <input type="text" class="form-control form-control_opt content_wrap_list" id ="q-field" name="q" placeholder="Find profiles" autocomplete="off">
                      <input type="hidden" name="job_type" id='job_type'>
                      <button type="submit" class="btn btn-default">Search</button>
                      <!--<input type="hidden" name="search_slug" id='search_slug'>-->
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="login_block col-md-4 col-sm-12">
          <div class="login_box">
            <p class="head text-capitalize login_text">Already a Member? Login</p>
            <form id="ApplicantLoginForm" name="ApplicantLoginForm" class="ApplicantLoginForm" method="POST">
              <div class="mb-3">
                <input type="email" class="form-control form-control_opt" id="user_login_email" placeholder="Enter Email ID" name="email">
                <p id="user_response_message"></p>
                <input type="hidden" name="register_type" id='register_type' value="login">
                <input type="hidden" name="next" value="{{request.GET.next}}">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control form-control_opt" id="user_login_password" placeholder="Enter Password" name="password">
              </div>
              <div class="forgot_right">
                <button type="submit"  class="btn btn-default login_form_button" >Sign In</button>
                <a href="#" class="forgot_password pull-right">Forgot Password?</a>
                 <a href="#" class="new_user_login pull-right" style="display:none;">Already a Member? Login</a>
              </div>

              <div class="forgot_create-new">
                 <a href="#" class="btn new_account"> New Account?</a>
              </div>
            </form>
            <div class="social_links">
              <ul>
                <li class="text-capitalize">login with social networks</li><br>
                <li ><a href=" 'social:facebook_login' %}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li ><a href=" 'social:linkedin_login' %}"  target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li ><a href=" 'social:github_login' %}"  target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li ><a href=" 'social:google_login' %}"><strong>G</strong></a></li>

              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{% block base %}
<!-- main_container starts here -->
  <section class="main_container">
    <div class="container">
      <div class="row mar_lr_0">
        <div class="col-md-9 left_container">
          <!-- register_block starts here -->
          <div class="row mar_lr_0 register_block">
            <div class="col-md-12 register_point border redirect_link" data-href=" 'my:alerts_list'%}">
              <div class="text-center register_col">
                <strong>Get Profiles Into your inbox</strong>
                <p>Create Profile Alert in your desired areas and get best-matched profiles into your inbox.</p>
              </div>
            </div>
          </div>
          <!-- register_block ends here -->
          <!-- skills_companies starts here -->
          <div class="row mar_lr_0 skills_locations">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="nav-items"><a href="#profile" class="nav-link active" aria-controls="profile" aria-expanded="true" role="tab" data-bs-toggle="tab">Top Profiles</a></li>
              {% comment %} <li role="presentation" class="nav-items" ><a href="#home" class="nav-link" aria-controls="home" role="tab" aria-expanded="false" data-bs-toggle="tab">Verified Profiles</a></li> {% endcomment %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="profile">
                <div class="row d-flex justify-content-center align-items-center image_row">
                  {% for ad in ads %}
                    <div class="col-md-2 col-sm-3 col-xs-3 image_col">
                     <a href="/micropyramid-informatics-pvt-ltd-job-openings/" class='company_logo'>
                      <img src="{{ ad.thumbnail.url }}" alt="{{ ad.title }}"/></a>
                    </div>
                    {% endfor %}
                </div>
                <a class="pull-right view-more" href="/companies/">View More</a>
              </div>
            </div>
          </div>
          <!-- skills_companies ends here -->
          <!-- top_locations starts here -->
          {% comment %} {% cache 604800 top_job_locations_in_index %} {% endcomment %}
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase">Top Escorts Locations</div>
            <div class="locations">
              {% for city in cities %}
                <ul class="location_ul">
                      <li><a href="/call-girls/{{ city.name }}">{{ city.name }}</a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase">Top Call girls Locations</div>
            <div class="locations">
              {% for city in cities %}
                <ul class="location_ul">
                      <li><a href="/call-girls/{{ city.name }}">{{ city.name }}</a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          <div class="row mar_lr_0 top_locations">
            <div class="heading text-uppercase">Top Categories</div>
            <div class="locations">
              {% for category in categories %}
                <ul class="location_ul">
                      <li><a href="/call-girls/{{ category.slug }}">{{ category.title }}</a></li>
                </ul>
              {% endfor %}
              <ul>
              </ul>
            </div>
          </div>
          {% comment %} {% endcache %} {% endcomment %}
        </div>
        <div class="col-md-3 right_container">

          <!--register_login form starts here -->
          <!-- top_recruiters ends here -->
        </div>
      </div>
    </div>
  </section>
  <!-- main_container ends here -->
  <!-- help_options_row starts here -->
<!-- help_options_row ends here -->
{% endblock base %}
